.footer{
	background: $dark-blue;
	padding: 7px 0;
	position: relative;
	z-index: 99;

	.copyright{
		color: $white;
		font-size: 14px;
		line-height: 20px;
		font-weight: 300;
		margin: 0;
	}

	.main-nav{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		display: none;

		@media (max-width: 767px){
			display: block;
		}

		.link-about{
			color: $white;

			@media (max-width: 767px){
				font-size: 12px;
				line-height: 16px;
			}
		}
	}

	// [class*=col-]{
	// 	@media (max-width: 370px){
	// 		flex-basis: 100%;
	// 		max-width: 100%;
	// 	}
	// }
}



