@media (max-width: 1331px) and (max-height: 650px) {
    .screen13 .block-cont__wrap p {
        font-size: 16px;
        line-height: 20px;
    }

    .screen13 .block-cont__wrap h2 {
        font-size: 26px;
    }

    .screen13 .block-cont {
        top: 41%;
    }

    .screen13 .selection {
        max-width: 200px;
    }


    .vladimir-svetlana {
        width: 50%;
        left: initial;
        right: 36%;
        bottom: -20px;
        // img {
        //     object-fit: cover;
        //     object-position: 50% 50%;
        //     width: 60%;
        //     height: auto;
        // }
    }

    .s8-img22 {
        width: 55%;
    }

    .s9-group12 {
        width: 58%;
    }

    .s9-img24 {
        top: 21%;
        left: 150px;
    }

    .s9-img25 {
        width: 8%;
        top: 41%;
        left: 315px;
    }

    .s9-img23 {
        bottom: -33px;
        right: 16%;
    }

    .airplane2 {
        width: 19%;
        right: 13.7%;
    }

    .s10-group13 {
        width: 60%;
    }

    .screen10 .flag {
        width: 25%;
    }

    .screen11 {
        background-size: 74%;
    }

    .screen11 .tree {
        width: 8%;
        bottom: 31%;
        right: 413px;
    }

    .s12-airplane2 {
        top: 10%;
        left: 10%;
        width: 19%;
    }

    .screen12 {
        background-size: 100% 100%;
    }

    .screen14 {
        background: url(../image/group-17.png) no-repeat;
        background-position: left bottom;
        background-size: 66% 81%;
    }

    .s14-img26 {
        position: absolute;
        top: 10%;
        left: 9%;
    }

    .s15-blue-hand {
        width: 60%;
    }

    .screen16 {
        background-size: 50%;
    }

    .screen17 {
        background-size: 100% 100%;
    }

    .screen2-6 .block-cont__wrap {
        margin-right: 5%;
    }

    // new


    .screen2-1 .story2-1 {
        width: 31%;
    }

    .screen2-1 .story2-3 {
        top: 201px;
        right: 238px;
    }

    .screen2-1 .story2-4 {
        left: 0;
        right: initial;
        bottom: -65px;
    }

    .screen2-2 .colisey {
        width: 45%;
    }

    .screen2-2 {
        background-size: 56%;
    }

    .screen2-3 .story2-5 {
        width: 58%;
    }

    // .screen2-4 {
    //     background-size: contain;
    // }

    .screen2-2 .block-cont__wrap {
        margin-left: auto;
        margin-right: 5%;
        max-width: 380px;
    }

    .screen2-4 .man {
        bottom: 0 !important;
    }

    .screen2-6 {
        background-size: 62% !important;
        position: relative;
        .s14-img26 {
            position: absolute;
            top: 3%;
            left: 6%;
        }
    }

    .screen2-7 .s15-blue-hand {
        display: none;
    }

    .screen2-7 .s15-blue-hand2 {
        top: -11%;
        left: -24%;
    }

    .screen2-9 .block-cont__wrap {
        margin-right: 5%;
    }

    .screen2-10 {
        background-size: 65%;
    }

    .screen2-8 .block-cont {
        top: 34% !important;
    }

    .screen2-5 .selection {
        height: 183.5px;
    }

    .screen2-5 .selection p {
        width: 200px;
    }


    .screen2-3 .answer {
        left: 38%;
    }

    .screen2-3 .round {
        top: 18%;
        left: 42%;
    }

    .screen2-9 {
        background-position: initial;
    }
    
    .screen2-9 .clock {
        bottom: 7%;
    }

    .screen2-9 .line9 {
        bottom: 47%;
        left: 24%;
    }
    






}


@media (max-width: 1440px) {
    .wrapper-history {
        overflow: hidden;
        min-height: initial;
        
    }


    .screen2-4 .man {
        position: absolute;
        left: 7%;
        bottom: 11.7%;
        z-index: 200;
        width: 37%;
    }

    .screen2-4 .colisey-2 {
        position: absolute;
        bottom: 12px;
        right: -5%;
        z-index: 200;
        width: 37%;
    }

    .screen2-6 {
        background-size: 76%;
        position: relative;
    }

    .screen2-11 .mg {
        bottom: 9%;
        right: 5%;
    }

    .screen3 .parallax-element {
        top: 5%;
    }

    .screen2-2 .block-cont__wrap {
        margin-right: 5%;
    }

    .screen2-6 .block-cont__wrap {
        margin-right: 10%;
    }

}

@media (max-width: 1340px) {
    .wrapper-history {
        overflow: hidden;
        min-height: 770px;
        
    }

    .s15-blue-hand3 {
        display: none;
    }

    .screen2-7 .s15-blue-hand {
        right: 13%;
        width: 66%;
    }

    .screen2-7 .s15-blue-hand2 {
        top: 0%;
        position: absolute;
        left: -18%;
        width: 62%;
    }

    .screen9 {
        .s9-group12 {
            width: 57%;
        }
    }

    .screen13 .block-cont {
        top: 33%;
    }

    .screen17 {
        .s17-final-txt {
            bottom: 72px;
        }
    }
}

@media (max-width: 1199px) {
    .screen2-2 .block-cont__wrap {
        margin-right: 10%;
    }

    .screen2-3 .answer {
        position: absolute;
        bottom: 3%;
        left: 27%;
        z-index: 2;
        width: 23%;
    }

    .screen2-5 .block-cont {
        top: 45%;
    }

    .screen2-6  {
        .s14-img26 {
            position: absolute;
            top: initial;
            left: 10%;
            bottom: 54%;
        }
    }

    .screen2-9 {
        background-size: 65%;
        background-position: -25px bottom;
    }

    .screen2-9 .clock {
        width: 21%;
    }

    .screen2-9 .line9 {
        width: 5%;
    }

    .screen2-9 {
        .block-cont {
            margin-right: 10%;
        }
    }

    .screen12 .block-cont__wrap {
        margin: 0px auto 0 42%;
        max-width: 523px;
        text-align: center;
    }

    .screen13 .block-cont {
        top: 35% !important;
    }

    .screen14 {
        background-size: 90%;
    }

}

@media (max-width: 1023px) {
    .wrapper-history {
        overflow: initial;
        min-height: fit-content;
    }

    #fullpage .wrapper {
        padding-top: 0;
    }

    .screen2-4 .arrow-l, .arrow-r {
    display:none;
    }

    .screen2-4 .man {
        left: -2%;
        bottom: 11.3%;
        width: 43%;
    }

    .screen2-6 {
        background-size: 86%;
    }

    .screen2-6 .s14-img26 {
        display: none;
    }

    .screen2-10 .block-cont__wrap {
        margin-right: 0%;
    }

    .screen2-11 .pizan {
        display: none;
    }

    .screen2-11 .mg {
        bottom: 9%;
        right: -4%;
        width: 49%;
    }

    .screen9 .s9-group12 {
        width: 86%;
    }

    .screen11 {
        background-size: 90%;
         .tree {
            bottom: 21%;
            right: 38% ;
            width: 9%;
        }
    }

    .screen14 {
        background-size: 100%;
        .s14-img26 {
            display: none;
        }
    }
}

@media (max-width: 800px) {
    .screen2-1 .story2-3 {
        display: none;
    }

    .screen2-1 .story2-1 {
        position: absolute;
        right: 0%;
        bottom: -6px;
        z-index: 0;
        width: 47%;
    }

    .screen2-2 .colisey {
        width: 87%;
    }

    .screen2-2 {
        background-size: 80%;
    }

    .screen2-2 .pizza {
        position: absolute;
        top: 40%;
        left: 0%;
    }

    .screen2-2 .block-cont__wrap {
        margin-right: 0;
    }

    .screen2-3 .story2-5 {
        bottom: 0;
        width: 88%;
        right: -14%;
    }

    .screen2-3 .round {
        top: 20%;
        left: 53%;
    }

    .screen2-4 {
        background-size: cover;
    }

    .screen2-4 .lamp {
        top: 0px;
        left: 25%;
    }

    .screen2-10 {
        background-size: 100%;
    }

    .screen2-11 .s17-final-txt {
        bottom: 6%;
        width: 57%;
    }
    
}

@media (min-width:576px) and (max-width: 767px) {
  

    #fullpage .wrapper {
        padding-top: 100px;
    }

    .story2-1,
    .story2-2,
    .story2-3,
    .story2-4,
    .story2-5,
    .story2-6,
    .story2-7,
    .story2-8,
    .story2-9,
    .story2-10,
    .story2-11 {
        display: flex;
    }

    .screen2-1 .story2-1 {
        z-index: 5;
        width: 63%;
    }

    .screen2-2 {
        .block-cont {
            top: 15%;
        }
        .pizza {
            display: block;
        }
        .colisey {
            display: block;
        }
    }

    .screen2-3 {
        .block-cont {
            top: 10%;
        }
        .story2-5 {
            width: 100%;
        }
    }

    .screen2-4 {
        background: url(../image/mobile-bg/screen4.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    .screen2-6 .block-cont {
        top: 13%;
    }

    .s15-blue-hand2 {
        display: block;
    }

    .screen2-8 {
        .block-cont {
            top: 5%;
        }
        .screen2-8  {
            
        }
    }
    .screen2-9 .block-cont {
        margin-right: 0%;
        top: 2%;
    }

    .screen2-9 {
        background-size: 100%;
        background-position: -25px bottom;
    }

    // .parallax-element {
    //     display: flex;
    // }

    .screen2-7 .block-cont__wrap {
        bottom: 5%;
        top: initial;
    }

    .screen15 {;
        background-position: right bottom;
    }

    .screen8 .block-cont {
        margin-top: 14% !important;
    }

    .screen9 {
        background-position: right bottom;
    }

    .screen2-5 .selection {
        padding-top: initial;
    }

    .screen2-5 .answer-bg {
       position: initial;
       
    }
  


}







@media (min-width:320px) and (max-width: 575px) {

    .screen12 .block-cont__wrap {
       margin: initial;
    }

    .screen16 .block-cont__wrap p {
        border: none !important;
    }

    // .block-cont__wrap p, .screen2-4 .block-cont__wrap p{
    //     font-size: 16px;
    //     line-height: 22px;
    //     font-weight: 600;
    // }

    #fullpage .wrapper {
        padding-top: 100px;
    }

    .mode .wrapper {
        padding-top: 25px !important;
    }

    .mode .wrapper .section-holder {
        padding: 30px 0 0 0;
    }

    .story2-1,
    .story2-2,
    .story2-3,
    .story2-4,
    .story2-5,
    .story2-6,
    .story2-7,
    .story2-8,
    .story2-9,
    .story2-10,
    .story2-11 {
        display: none;
    }

    .screen2-1 {
        background: #FFE7D6 url(../image/mobile-bg/screen1.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    
    .screen2-2 {
        background: url(../image/mobile-bg/screen2.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    .screen2-3 {
        background: #FFE7D6 url(../image/mobile-bg/screen3.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    .screen2-4 {
        background: url(../image/mobile-bg/screen4.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    
    .screen2-5 {
        background:url(../image/mobile-bg/screen5.png);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: contain;
    }

    
    .screen2-6 {
        background: #FFE7D6  url(../image/mobile-bg/screen6.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    
    .screen2-7 {
        background: url(../image/mobile-bg/screen7.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    
    .screen2-8 {
        background: #FFE7D6 url(../image/mobile-bg/screen8.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    
    .screen2-9 {
        background:  url(../image/mobile-bg/screen9.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    
    .screen2-10 {
        background: #FFE7D6 url(../image/mobile-bg/screen10.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    .screen2-11 {
        background:url(../image/mobile-bg/screen11.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }

    .screen2-4 .block-cont__wrap p {
        text-align:initial;
        max-width: initial;
        width: 100%;
        color: initial;
    }

    .screen2-4 .block-cont__wrap {
        max-width: initial;
        width: 100%;
        margin: initial;
        -ms-flex-align: center;
        align-items: initial;
        background-color: initial;
        padding-top: initial;
        padding-bottom: initial;
        position: relative;
    }
    
    .screen2-5 .answer-bg {
        position: initial;
    }

    .screen2-5 .selection p {
        display: inline;
        text-align: left;
        width: fit-content;
        margin: 0;
    }

    .screen2-5 .selection  {
        padding-left: 14px;
        padding-top: 0;
    }

    .selection_container .selection img {
        width: 50%;
        max-width: 100%;
    }


    .screen8 .block-cont {
        margin-top: 13% !important;
    }








}




// @media (min-width: 1440px) {
//     .screen2-4 .man {
//         position: absolute;
//         left: 131px;
//         bottom: 11.7%;
//         z-index: 200;
//         width: 37%;
//     }
// }



