// sizes
$width-lg: 1170px;
$width-md: 960px;
$width-sm: 768px;
$width-xs: 420px;
$width-min: 319px;

// colors


// font-size




$base-font-size: 15px;
$default-color: #1B1B1B;
$white: #fff;
$black: #000000;
$dark-grey: #121212;
$dark-blue: #001A70;
$orange: #FF5722;
$base-font-family: 'Muller', sans-serif;
$anim: all .3s ease;


